<!DOCTYPE html>
<html>
<head>
 <title>ت Eren's Blog. Hello~</title>
</head>
<body>
 <!-- Site Header -->
 <h1>Hi. I am Eren~ Welcome to my blog! (•̤̀ᵕ•̤́๑)</h1>

<!-- Blog Post -->
 <h2> Here is my first blog post. ✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧   </h2>
 <p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523853576057&di=8b03d05d8e399423cfb9c2ef4b7cf10a&imgtype=0&src=http%3A%2F%2Fimg3.100bt.com%2Fupload%2Fttq%2F20131019%2F1382169726286_middle.gif"></p>
 <p> I meet many problem during the class  (⑉･̆-･̆⑉)  Do you konw why raven like a desk? </p>


</body>
</html>
